<!DOCTYPE html>
<html>
    <div id="whole">
        <head>
            {% block head %}
                <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
                <script type="text/javascript" src="js/materialize.min.js"></script>
                <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
                <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
                <!--Let browser know website is optimized for mobile-->
                <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
                <link rel="stylesheet" href="css/style.css" />
                <title>{% block title %}{% endblock %} - TippTopf</title>
            {% endblock %}
        </head>
        <header id='header'>
            {% block header %} 
                <nav id='nav'>
                <ul>
                    <li><img src="files/logo_placeholder.png" alt="Logo"></li>
                    <li><a href="/">Home</a></li>
                    <li><a href="/groups">Groups</a></li>
                </ul> 
                {% if  session is defined and session.loggedin %}
                    <ul id="usermgmt">
                        <li><a href="/logout">Logout</a></li>
                    </ul>
                </nav>
                {% else %}
                    <ul id="usermgmt">
                        <li><a href="/signup">Sign Up</a></li>
                        <li><a href="/login">Login</a></li>
                    </ul> 
                </nav>
                {% endif %}
            {% endblock %}
        </header>
        <body>
            <div id="content">
                {% block content %}
                    <h3> {{ page_title |nl2br }} </h3>
                {% endblock %}</div>
            <div id="footer">
                {% block footer %}

                {% endblock %}
            </div>
        </body>
    </div>
</html>
