{% extends "base.html.twig" %}

{% block title %}
    {{ title }}
{% endblock %} 

{% block head %}
    {{ parent() }}
{% endblock %}

{% block content %}
    {{ parent() }}
    <p> Groups content here </p>
{% endblock %}