{% extends "base.html.twig" %}

{% block title %}
    {{ title }}
{% endblock %} 

{% block head %}
    {{ parent() }}
{% endblock %}

{% block content %}
    {{ parent() }}
    <div class="container" id="contentPart-home">
        {% block main %}
        {% endblock %}
    </div>
{% endblock %}