{% extends "base.html.twig" %}

{% block title %}
    {{ title }}
{% endblock %} 

{% block head %}
    {{ parent() }}
     <script type="text/javascript" src="js/form.js"></script>
{% endblock %}

{% block content %}
    {{ parent() }}
    <form action="/newgroup" method="POST">
        <label>Group Name:</label>
        <input type="text" name="name" maxlength="100" required><br>
        <p id='link'> +invite people </p>
        <input type="submit" value="Create">
    </form> 
{% endblock %}