/*input[type=button], input[type=submit], input[type=reset] {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 7px 20px;
    text-decoration: none;
    margin: 2px 2px;
    cursor: pointer;
    border-radius: 15px
}

label{
    display: inline-block;
    float: left;
    clear: left;
    width: 170px;
    text-align: right;
}*/
/*input {
  display: inline-block;
  float: left;
  margin-left: 8px;
}*/