@import url(https://fonts.googleapis.com/css?family=Playfair+Display);

header {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
}

/*header img {
    float: left;
    padding: 8px 2px;
}*/

ul {
    list-style-type: none;
}

li {
    float: left;
    font-family: 'Playfair Display', serif;
}

#usermgmt{
    float: right;
}

a {
    display: block;
    padding: 8px;
}

a:link, a:visited {
    color: white;
    padding: 0px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

a:hover, a:active {
    background-color: lightseagreen;
}
body {
    margin-top: 120px;
}

#nav {
    background-color: maroon;
}

h3 {
    font-family: 'Playfair Display', serif;
}

#content {
    padding-left: 25px;
    padding-right: 25px;
}

footer {
    font-family: 'Playfair Display', serif;
}