@import url(https://fonts.googleapis.com/css?family=Playfair+Display);

header {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
}

ul {
    list-style-type: none;
}

li {
    float: left;
    font-family: 'Playfair Display', serif;
}

#usermgmt{
    float: right;
}

a {
    display: block;
    padding: 8px;
}

a:link, a:visited {
/*  color: white;
    padding: 0px 20px;
    text-align: center;*/
    text-decoration: none;
    display: inline-block;
}

a:hover, a:active > .overlay{
    background-color:#000;
    opacity:0.2;
}
body {
    margin-top: 120px;
}

#nav {
    background-color: maroon;
}

footer {
    font-family: 'Playfair Display', serif;
    position:fixed;
    left:0px;
    bottom:0px;
    height:30px;
    width:100%;
    background:#999;
    background-color: #333 !important;
    text-align: end;
    font-size: 13px;
}

footer a {
    text-align: center;
    display: block !important;
    margin-left:auto;
    margin-right:auto;
}

a.white-text {
    padding-top: 4px;
}
footer#top {
    bottom:20px !important;
}
footer#bottom{
    height:20px;
    }
    
h3, h5 {
    font-family: 'Playfair Display', serif;
}

#a_title {
    color: black !important;
    padding: 0px;   
    font-family: 'Playfair Display', serif;
    text-decoration: underline;
}

#a_title:hover {
    background-color: transparent !important;
    opacity:1;
}
footer#bottom a.white-text {
    padding-top: 0px;
}

th, td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

tr:first-child td {
     font-weight: bold;
}

td button,  td button:focus{
    border:none;
    background-color: transparent;
}

#group_id {
    height:0px !important;
    font-size: 0px !important;
}
